.md-deprecated {
    color: orange;
}

ul.md-translation, ul.md-translation ul {
    padding-left: 1em !important;
}

ul.md-translation li {
    font-size: .9em;
}

tr:hover td {
    background-color: #F1FFF1;
}